
.admin-panel-background
{
    background: rgba(0, 0, 0, 0.8);
    border: black solid 1px;
    color: white;
}

.admin-panel-table
{
    height: 100%;
    width: 100%;
    font-size: small;
    overflow: auto;
    table-layout: fixed;
}

.admin-panel-operation
{

}

.admin-panel-form
{

}