
.chatbox
{
    border: #000000 solid 1px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.message-container {
    max-height: inherit;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.4);
}

.message-container p {
    color: white;
    overflow-wrap: break-word;
}

.chatbox input
{
    width: 100%;
}