.film-page-container
{
	display: flex;
}

.film-page-chatbox-container
{
	width: 100%;
	height: 100vh;
	position: sticky;
	top: 0
}

.film-page-collection-container
{
	max-width: 85%;
}

.film-page-sakila-logo-container {
	width: 100%;
	text-align: left;
	color: white;
}

.film-page-sakila-logo
{
	display: inline-flex;
	animation: zoom-in-zoom-out 1s ease infinite;
	padding-left: 15px;
}

.zoom-in-out-box {
	margin: 24px;
	width: 50px;
	height: 50px;
	background: #f500cc;

}

@keyframes zoom-in-zoom-out {
	0% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(1.1, 1.1);
	}
}


.film-page-gradient
{
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	z-index: -2;

	background: rgb(195,88,34);
	background: linear-gradient(180deg, rgba(195,88,34,1) 0%, rgba(253,187,45,1) 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.film-page-halftone
{
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	z-index: -1;

	background: url("/images/halftone_texture.png") no-repeat center center;
	background-size: cover;
}
