
.admin-page-container
{
    display: flex;
    flex-direction: row;

    max-height: 100vh;
    max-width: 100vw;
}

.admin-page-table-container
{
    width: 50%;
    height: 100%;
}

.admin-page-panel-container
{
    width: 50%;
    height: 100%;
}